@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
} */
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Montserrat;
  line-height: normal;
  /* font-family: 'Jost'; */
  /* font-size: 22px; */
}

main {
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer {
  background-color: #84A178;
}
.footer .footer-subtilte {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.footer .footer-tilte {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}
.footer .footer-text {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}
.footer .footer-lext {
  color: #7A7A7A;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
}
.header {
  background-color: #84a178;
  padding-top: 12px;
  padding-bottom: 25px;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  fill: #f8d24e;
}
.header .header-nav {
  display: none;
}
.header .menu-svg {
  fill: #FFF;
}
.header .header-btn {
  display: none;
  border: none;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 14px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 7px;
  }
  .header .header-btn {
    display: flex;
    padding: 12px 36px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f8d24e;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
  .header .header-svg-btn {
    margin-left: 3px;
  }
  .header .menu {
    margin-left: auto;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 17px;
    padding-bottom: 23px;
  }
  .header .header-nav {
    display: flex;
    margin-right: -125px;
  }
  .header .header-nav-link {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
  }
  .header .header-nav-link:hover {
    color: #f8d24e;
  }
  .header .header-list {
    display: flex;
    gap: 28px;
  }
  .header .menu {
    display: none;
  }
}

.hero {
  background-color: #84a178;
  padding-top: 25px;
}
.hero .hero-bg {
  background-image: url(../img/mobile/крапки.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 236px;
  display: flex;
}
.hero .hero-title {
  color: #fcfcfc;
  font-family: "Seymour One";
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: 247px;
}
.hero .hero-span-title {
  color: #fcfcfc;
  font-family: "Seymour One";
  font-size: 34px;
  font-weight: 400;
  line-height: 96.5%;
  text-transform: uppercase;
}
.hero .hero-button {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid #f8d24e;
  background-color: transparent;
  padding: 11px 26px;
}
.hero .hero-link {
  display: inline-block;
  color: #f8d24e;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 12px;
}
.hero .hero-img,
.hero .hero-text,
.hero .hero-svg,
.hero .hero-text-content,
.hero .hero-number {
  display: none;
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 20px;
  }
  .hero .hero-bg {
    background-image: url(../img/mobile/Стартовасторінка.png);
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 7px;
  }
  .hero .hero-bg {
    background-image: url(../img/tablet/крапк.png);
    padding-bottom: 12px;
    justify-content: space-between;
  }
  .hero .hero-div {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  .hero .hero-img {
    display: flex;
    width: 152px;
    margin-right: 32px;
  }
  .hero .hero-text {
    display: flex;
    color: #fff;
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    width: 165px;
    flex-direction: column;
  }
  .hero .hero-svg {
    display: flex;
    fill: #fcfcfc;
    margin-top: 29px;
  }
  .hero .hero-number {
    display: block;
    color: #131313;
    text-align: right;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-top: 14px;
  }
  .hero .hero-text-content {
    display: block;
    color: #fcfcfc;
    text-align: right;
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 400;
    padding-bottom: 6px;
  }
  .hero .hero-text-content:last-child {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 22px;
  }
  .hero .hero-title,
  .hero .hero-span-title {
    font-size: 38px;
    width: 367px;
  }
  .hero .hero-bg {
    background-image: url(../img/desktop/Крапки.png);
    padding-bottom: 65px;
  }
  .hero .hero-div {
    margin-top: 42px;
  }
  .hero .hero-img {
    width: 225px;
  }
  .hero .hero-text {
    font-size: 14px;
    width: 200px;
  }
  .hero .hero-number {
    font-size: 46px;
    letter-spacing: 1.84px;
  }
  .hero .hero-text-content {
    font-size: 14px;
  }
}

.how-made {
  background-color: #84a178;
  padding-top: 61px;
  padding-bottom: 68px;
}
.how-made .how-made-subtitle {
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.how-made .how-made-title {
  color: #fcfcfc;
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 54px;
  width: 200px;
}
.how-made .how-made-img {
  width: 278.996px;
  border-radius: 50%;
  background: url(<path-to-image>) lightgray 0px -15.02px/100% 123.077% no-repeat;
  box-shadow: 0 -22px 0 0 #f8d34e;
  margin: 0 auto;
  margin-bottom: 40px;
}
.how-made .how-made-div-two {
  width: 220px;
  margin: 0 auto;
}
.how-made .how-made-text {
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}
.how-made .how-made-p-text {
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 162%;
  margin-bottom: 4px;
}
.how-made .how-made-p-text-two {
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 162%;
  margin-bottom: 24px;
}
.how-made .how-made-btn {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 129%;
  padding: 12px 23px;
  border-radius: 10px;
  background: #f8d24e;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
  margin-bottom: 62px;
}
.how-made .how-made-list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.how-made .how-made-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how-made .how-made-icon {
  border-radius: 25px;
  background: #f8d24e;
  padding: 7px;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.how-made .how-made-item-subtitle {
  color: #fcfcfc;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.how-made .how-made-item-text {
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  width: 230px;
}
@media screen and (min-width: 768px) {
  .how-made .how-made-subtitle {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.88px;
  }
  .how-made .how-made-title {
    width: 454px;
  }
  .how-made .how-made-div {
    display: flex;
    margin-bottom: 20px;
  }
  .how-made .how-made-img {
    margin-right: 38px;
    width: 330px;
  }
  .how-made .how-made-div-two {
    width: 334px;
  }
  .how-made .how-made-text,
  .how-made .how-made-p-text,
  .how-made .how-made-p-text-two {
    text-align: left;
  }
  .how-made .how-made-p-text {
    width: 312px;
  }
  .how-made .how-made-p-text-two {
    width: 276px;
    margin-bottom: 32px;
  }
  .how-made .how-made-btn {
    margin-left: 0;
  }
  .how-made .how-made-list {
    flex-direction: row;
    justify-content: center;
  }
  .how-made .how-made-item {
    width: calc((100% - 160px) / 3);
  }
  .how-made .how-made-icon {
    margin-bottom: 32px;
  }
  .how-made .how-made-item-subtitle {
    margin-bottom: 12px;
  }
  .how-made .how-made-item-text {
    width: 133px;
  }
}
@media screen and (min-width: 1200px) {
  .how-made .how-made-subtitle {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.2px;
  }
  .how-made .how-made-title {
    letter-spacing: 2.16px;
  }
  .how-made .how-made-text {
    font-size: 16px;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
  }
  .how-made .how-made-div-two {
    width: 463px;
    margin-left: 109px;
    padding-top: 51px;
  }
  .how-made .how-made-p-text,
  .how-made .how-made-p-text-two {
    font-size: 14px;
    line-height: 194%; /* 27.16px */
    letter-spacing: 0.56px;
    width: 463px;
  }
  .how-made .how-made-item-subtitle {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 2.32px;
  }
  .how-made .how-made-item-text {
    font-size: 16px;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.32px;
    width: 368px;
  }
  .how-made .how-made-img {
    width: 490px;
    height: 490px;
    margin: 0;
  }
  .how-made .how-made-div {
    margin-bottom: 60px;
  }
}

.location .location-ltitle {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
}
.location .location-suabltitle {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
}
.location .location-link {
  color: #D6936D;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%; /* 21.96px */
  letter-spacing: 0.48px;
}
.location .location-line {
  width: 216px;
  height: 0px;
  stroke-width: 1px;
  stroke: #E1E1E1;
}
.location .location-text {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
}
.location .location-time {
  color: #ABABAB;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
}
.location .location-tel {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
}
.location .location-mail {
  color: #131313;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
}
.products {
  padding-top: 61px;
  padding-bottom: 60px;
  background-image: url(../img/mobile/Frame\ 404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products .products-subtitle {
  color: #131313;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.products .products-title {
  color: #131313;
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 148px;
}
.products .products-list {
  display: flex;
  flex-direction: column;
  row-gap: 168px;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
}
.products .products-item {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  height: 420px;
  position: relative;
  width: 280px;
}
.products .ice-cream {
  background: #aec6a5;
}
.products .ice-coffee {
  background: #efd478;
}
.products .milkshakes {
  background: #d6936d;
}
.products .ice-cream-img {
  box-shadow: 0 11px 0 0 rgba(156, 190, 143, 0.7), 0px 5.342px 30.033px rgba(10, 136, 23, 0.25);
}
.products .ice-coffee-img {
  box-shadow: 0 11px 0 0 rgba(248, 210, 78, 0.7), 0px 5.404px 20.265px rgba(153, 114, 23, 0.25);
}
.products .milkshakes-img {
  box-shadow: 0 11px 0 0 rgba(213, 117, 63, 0.7), 0px 5.413px 20.3px rgba(0, 0, 0, 0.25);
}
.products .products-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 31px;
  margin-top: -108px;
}
.products .products-item-suabtitle {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.products .products-item-text {
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 176%; /* 24.64px */
  letter-spacing: 0.56px;
  width: 200px;
}
.products .products-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 16px;
  padding: 0;
  position: absolute;
  bottom: 16px;
}
@media screen and (min-width: 480px) {
  .products .products-item {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../img/desktop/Frame\ 403.png);
  }
  .products .products-list {
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .products .products-item-suabtitle {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 97px;
  }
  .products .products-list {
    flex-direction: row;
    -moz-column-gap: 26px;
         column-gap: 26px;
    justify-content: center;
  }
  .products .products-item {
    padding-bottom: 60px;
  }
  .products .products-item-suabtitle {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

.reviews {
  background-image: url(../img/mobile/Frame\ 404.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 413px;
}
.reviews .reviews-img {
  width: 280px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 80px;
}
.reviews .reviews-img-user {
  width: 85px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.reviews .reviews-text {
  margin: 0 auto;
  width: 280px;
  border-radius: 10px;
  background: #84a178;
  padding: 35px 39px;
  color: #fcfcfc;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 255%; /* 30.6px */
  margin-bottom: 32px;
}
.reviews .reviews-title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 186%; /* 37.2px */
  margin-bottom: 12px;
}/*# sourceMappingURL=main.css.map */