.footer {
background-color: #84A178;
.footer-subtilte {
color: #FCFCFC;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.footer-tilte {
color: #FCFCFC;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.36px;
text-transform: uppercase;
}
.footer-list {
}
.footer-item {
}
.footer-icon {
}
.footer-text {
color: #FCFCFC;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.36px;
text-transform: uppercase;
}
.footer-line {
}
.footer-lext {
color: #7A7A7A;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 152%;
}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1200px) {

}
}