.header {
  background-color: #84a178;
  padding-top: 12px;
  padding-bottom: 25px;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    fill: #f8d24e;
  }
  .header-svg-logo {
  }
  .header-nav {
    display: none;
  }
  .header-list {
  }
  .header-nav-item {
  }
  .header-nav-link {
  }
  .menu{
    background-color: transparent;
    border: none;
  }
  .menu-svg{
    fill: #FFF;
  }
  .header-btn {
    display: none;
    border: none;
    &:hover{
      background: #0A8817;
    }
    &:focus{
      fill: #FFF;
      color: #FFF;
      background: #0A8817;
    }
    &:disabled{
      background: #ABABAB;
    }
  }
  @media screen and (min-width: 480px) {
    padding-top: 14px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 7px;
    .header-btn {
      display: flex;
      padding: 12px 36px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #f8d24e;
      align-items: center;
      justify-content: center;
      color: #000;
      font-size: 14px;
      font-weight: 600;
    }
    .header-svg-btn {
      margin-left: 3px;
    }
    .menu {
      margin-left: auto;
      margin-right: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 17px;
    padding-bottom: 23px;
    .header-nav {
      display: flex;
      margin-right: -125px;
    }
    .header-nav-link {
      color: #fcfcfc;
      font-size: 16px;
      font-weight: 700;
      &:hover{
        color: #f8d24e;
      }
    }
    .header-list {
      display: flex;
      gap: 28px;
    }
    .menu {
      display: none;
    }
  }
}
