.location {
}
.location-list {
}
.location-item {
}
.location-ltitle {
color: #131313;
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 14.4px */
letter-spacing: 0.48px;
}
.location-suabltitle {
color: #131313;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 22.32px */
letter-spacing: 0.48px;
}
.location-link {
color: #D6936D;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 183%; /* 21.96px */
letter-spacing: 0.48px;
}
.location-line {
width: 216px;
height: 0px;
stroke-width: 1px;
stroke: #E1E1E1;
}
.location-text {
color: #131313;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 22.32px */
}
.location-time {
color: #ABABAB;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 22.32px */
}
.location-tel {
color: #131313;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 19.2px */
}
.location-mail {
color: #131313;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 19.2px */
}
.location-btn {
}