.location {
  padding-bottom: 60px;
  margin-bottom: -1095px;
  position: relative;
  .location-list {
    margin-top: -353px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location-item {
    border-radius: 24px;
    background: #fcfcfc;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    padding: 40px 32px 24px 32px;
    margin-bottom: 16px;
    width: 280px;
  }
  .location-ltitle {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #f8d24e;
    margin-bottom: 20px;
    padding: 4px 22px;
    display: inline-block;
  }
  .location-suabltitle {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
    margin-bottom: 8px;
  }
  .location-link {
    color: #d6936d;
    font-size: 12px;
    font-weight: 500;
    line-height: 183%; /* 21.96px */
    letter-spacing: 0.48px;
  }
  .location-line {
    height: 0px;
    stroke-width: 1px;
    stroke: #e1e1e1;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .location-text {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
  }
  .location-time {
    color: #ababab;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
  }
  .location-tel {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 160%; /* 19.2px */
    margin-bottom: 6px;
    display: block;
  }
  .location-mail {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    line-height: 160%; /* 19.2px */
    display: block;
  }
  .location-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .location-btn {
    color: #131313;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    border-radius: 10px;
    background-color: #f8d24e;
    border: 0;
    padding: 12px 40px;
    &:hover {
      background: #0a8817;
    }
    &:focus {
      fill: #fff;
      color: #fff;
      background: #0a8817;
    }
    &:disabled {
      background: #ababab;
    }
  }
  .location-btn-two {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    border-radius: 10px;
    border: 2px solid #f8d24e;
    padding: 10px 53px;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      fill: #fff;
      color: #fcfcfc;
      border-color: #0a8817;
    }
    &:disabled {
      border-color: #ababab;
    }
  }
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    margin-bottom: -360px;
    .location-list {
      flex-direction: row;
      column-gap: 16px;
      justify-content: center;
      margin-top: -300px;
    }
    .location-item {
      margin-bottom: 40px;
      width: 224px;
    }
    .location-link {
      width: 150px;
    }
    .location-ltitle {
      font-size: 14px;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.64px;
    }
    .location-div {
      justify-content: center;
      flex-direction: row;
      column-gap: 16px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: -635px;
    padding-bottom: 120px;
    .location-list {
      column-gap: 32px;
      margin-top: -128px;
    }
    .location-item {
      margin-bottom: 40px;
      width: 368px;
    }
    .location-link {
      width: 260px;
    }
    .location-ltitle {
      font-size: 16px;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.64px;
    }
  }
}
