#modal-locations{
.modal{
    width: 280px;
}
.locations-titule{
color: #131313;
font-family: "Seymour One";
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
text-align: center;
margin-bottom: 20px;
}



@media screen and (min-width: 768px) {

}
}