#modal-buy-now {
  .modal {
    width: 280px;
  }
  .buy-now-titul {
    color: #131313;
    font-family: "Seymour One";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;
    margin-bottom: 83px;
  }
  .buy-now-list {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 85px;
  }
  .buy-now-imput {
    border-radius: 15px;
    box-shadow: 0px 5.26px 19.726px 0px rgba(212, 20, 67, 0.10);
    padding-bottom: 20px;
    width: 132px;
    &:nth-child(1) {
      border: 2px solid #96af8c;
    }
    &:nth-child(2) {
      border: 2px solid #efd478;
    }
    &:nth-child(3) {
      border: 2px solid #d6936d;
    }
  }
  .checked{
    &:nth-child(1) {
      background-color: #96af8c;
    }
    &:nth-child(2) {
      background-color: #efd478;
    }
    &:nth-child(3) {
      background-color: #d6936d;
    }
  }


  .modal-buy-img{
    margin-top: -63px;
  }
  .buy-now-subtitul {
    color: #131313;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    margin-top: 27px;
  }
  @media screen and (min-width: 768px) {
  }
}

[type="checkbox"]:checked > li {
background-color: #d6936d;
}