#modal-menu {
  .modal {
    width: 100vw;
    height: 100vh;
    background-color: #85a279;
    padding: 12px 20px 64px 32px;
  }
  .close-btn{
    top: 20px;
    right: 20px;
  }
  .menu-wraper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
  }
  .logo {
    fill: #f8d24e;
  }
  .header-nav{
    margin-bottom: 110px;
  }
  .header-list{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  .header-nav-link {
    color: #FCFCFC;
    font-size: 32px;
    font-weight: 700;
    &:hover{
      color: #131313;
    }
  }
  .menu-btn {
    display: flex;
    padding: 12px 36px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f8d24e;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin: 0 auto;
  }
  .header-svg-btn {
  }
  @media screen and (min-width: 768px) {
    .menu-btn {
      display: none;
    }
    .header-nav-link{
      font-size: 48px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
