#modal-buy-now {
  .modal {
    width: 280px;
  }
  .buy-now-titul {
    color: #131313;
    font-family: "Seymour One";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;
    margin-bottom: 83px;
  }
  .buy-now-list {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 85px;
  }
  .buy-now-imput {
    border-radius: 15px;
    box-shadow: 0px 5.26px 19.726px 0px rgba(212, 20, 67, 0.1);
    padding-bottom: 20px;
    width: 132px;
    &:nth-child(1) {
      border: 2px solid #96af8c;
      & .modal-buy-img {
      box-shadow: 0 7px 0 0  rgba(156, 190, 143, 0.70);
      filter: drop-shadow(0px 5.26px 19.726px rgba(10, 136, 23, 0.25));
      }
    }
    &:nth-child(2) {
      border: 2px solid #efd478;
      & .modal-buy-img {
        box-shadow: 0 7px 0 0  rgba(248, 210, 78, 0.70);
        filter: drop-shadow(0px 5.26px 19.726px rgba(153, 114, 23, 0.25));
      }
    }
    &:nth-child(3) {
      border: 2px solid #d6936d;
      & .modal-buy-img {
        box-shadow: 0 7px 0 0  rgba(213, 117, 63, 0.70);
        filter: drop-shadow(0px 5.26px 19.726px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .checked {
    &:nth-child(1) {
      background-color: #96af8c;
    }
    &:nth-child(2) {
      background-color: #efd478;
    }
    &:nth-child(3) {
      background-color: #d6936d;
    }
  }

  .modal-buy-img {
    margin-top: -63px;
    border-radius: 50%;
  }
  .buy-now-subtitul {
    color: #131313;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    margin-top: 27px;
  }
  @media screen and (min-width: 768px) {
    .modal {
      width: 568px;
    }
    .buy-now-list {
      flex-direction: row;
      column-gap: 32px;
    }

  }
}

[type="checkbox"]:checked > li {
  background-color: #d6936d;
}
